<h1 class="title text-center">Where's the Beef?</h1>

<div class="container-fluid main-container">

    <div class="row justify-content-center">

        <div class="col" id="burger-menu">
            <h2>Burger Menu</h2>

            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                {{>burgers/burgers devoured = false}}
                {{/unless}}
                {{/each}}
            </ul>


        </div>

        <div class="col" id="burger-pic">
            <img src="/assets/images/Burger pic.jpg" class="img-thumbnail mb-2">

        </div>

        <div class="col" id="burgers-eaten">
            <h2>Burgers Devoured</h2>

            <ul>
                {{#each burgers}}
                {{#if this.devoured}}
                {{>burgers/burgers devoured = true}}
                {{/if}}
                {{/each}}
            </ul>


        </div>

    </div>

</div>


<form class="create-form" id="burger-form">
    <h3 id="burger-text">Add A Burger</h3>
    <div class="form-group form-inline justify-content-center">
        <input type="text" id="add-burger" name="burger" class="form-control">
        <button type="submit" method="POST" class="btn btn-success" id="submit-burger">Add Burger</button>
    </div>
</form>