<h1 class="title text-center">Where's the Beef?</h1>

<div class="container-fluid main-container">

    <div class="row">

        <div class="col">
            <h2>Burger Menu</h2>

            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>
                    <p>data-burgerid={{this.id}} class="burger-name {{this.burger_name}}</p>
                    <button data-burgerid={{this.id}}class="devour-button">Devour</button>

                </li>
                {{/unless}}
                {{/each}}
            </ul>


        </div>

        <div class="col" id="burger-pic">
            <img src="/public/assets/images/Burger pic.jpg">

        </div>

        <div class="col" id="burgers-eaten">
            <h2>Burgers Devoured</h2>

            <ul>
                {{#each burgers}}
                {{#if this.devoured}}

                <li>{{this.burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>


        </div>

    </div>

</div>

<form id="new-burger" action="/newburger" class="create-form" method="POST">
    <div class="form-group col-md-8">
        <input type="text" id="add-burger" name="burger-name" class="form-control">
        <button type="submit" class="btn btn-default" id="submit-burger">Add Burger</button>
    </div>
</form>