#burger-pic {
  /* width: 2px; */
    height: auto;
    background-color: yellow;

}

body{
    background-color: yellow;
}

#burger-form {
  margin: 0 auto;
  width: 250px;
  margin-bottom: 50px;

}

#submit-burger {
    margin: 0 auto;
    width: 250px;
    margin-top: 10px;
}

#burgers-eaten ,#burger-menu,#add-burger {
  background-color: green;

}


#burger-text {
  margin-left: 12%;
}

#devourBtn {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 2px;
 }  